@model Cliente

<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Registrar Cliente</h3>
        @if (TempData["Error"] != null)
        {
            <h4 style="color:red;">@TempData["Error"]</h4>
        }
    </div>

    <div class="card-body">
        <form asp-action="CrearCliente" asp-controller="Clientes">

            <div class="form-floating mb-3">
                <input asp-for="NombreCliente" class="form-control" type="text"/>
                <label>Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Correo" class="form-control" type="text"/>
                <label>Correo</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Telefono" class="form-control" type="text"/>
                <label>Telefono</label>
            </div>
            <div class="form-floating mb-3 text-center">
                <input class="btn btn-primary btn-block" type="submit" value="Crear" />
            </div>
        </form>
    </div>
</div>
